/* setting colors */
:root{
    --white: #C1E8FF;
    --verylightblue: #7DA0CA;
    --skyblue: #5483B3;
    --royalblue: #052659;
    --darkblue: #021024; 
}

/* setting font */
@font-face {
    font-family: zendots;
    src: url(./fonts/Zen_Dots/ZenDots-Regular.ttf);
}

@font-face {
    font-family: spacegrotesk;
    src: url(./fonts/Space_Grotesk/SpaceGrotesk-VariableFont_wght.ttf);
}

@font-face {
    font-family: alien-among-us;
    src: url(./fonts/aliens_among_us/Aliens\ Among\ Us.ttf);
}

@font-face {
    font-family: caviar;
    src: url(./fonts/caviar_dreams/CaviarDreams.ttf);
}

@font-face {
    font-family: redhat;
    src: url(./fonts/Red_Hat_Display/RedHatDisplay-VariableFont_wght.ttf);
}



/* setting all elements */
*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    
}

/* body styling */
body::-webkit-scrollbar{
    display: none;
}

/* container styling */
.container{
    display: flex;
    flex-direction: column;
    gap: 20px;
    background-image: linear-gradient(var(--white),var(--verylightblue),var(--skyblue),var(--royalblue), var(--darkblue));
    font-family: spacegrotesk;
}

/* nav bar styling */
.nav{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px 30px;
}

.nav h2{
    display: flex;
    flex-direction: column;
    cursor: pointer;
}

.nav h2::after{
    content: '';
    width: 100%;
    height: 3px;
    background-color: var(--skyblue);
}

.nav ul{
    display: flex;
    gap: 25px;
    font-weight: 600;
    > li{
        cursor: pointer;
        list-style-type: none;
        text-transform: capitalize;
        display: flex;
        flex-direction: column  ;
        font-size: 18px;
    }
}

.nav ul li a{
    text-decoration: none;
    color: var(--white);
}

.nav ul li::after{
    content: '';
    background-color: var(--skyblue);
    height: 2.5px;
    width: 0px;   
    transition: width 0.3s;
}

.nav ul li:hover::after{
    width: 100%;
    transition: width 0.3s;
}

.nav img{
    border-radius: 50%;
}

/* hero section styling */
.hero{
    display: flex;
    flex-direction: column;
    text-align: center;
    padding: 10px 0;
    background-image: url(./landingPageImages/four.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    min-height: 100vh;
    color: var(--white);
}

.hero .heroHead{
    flex: 1;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.hero h1{
    font-size: 60px;
    letter-spacing: 15px;
    font-family: zendots;
    text-transform: uppercase;
    background-image: linear-gradient(to right, var(--verylightblue), var(--skyblue));
    color: transparent;
    background-clip: text;
}

/* about section styling */
.aboutMe{
    display: flex;
    flex-direction: column;
    gap: 40px;
    padding: 0 50px ;

    /* inside bio */
    > .bio{
        display: flex;
        align-items: center;

        /* inside div of bio */
        > div{
            display: flex;
            > h1{
            font-size: 70px;
            background-color: black;
            color: white;
            display: flex;
            align-items: center;
            padding: 0 20px;
            }
            > img{
                margin-left: -70px;
            } 
        }
    }
    > .journey{
        display: flex;
        align-items: center;
        > div{
            display: flex;
            > img{
                transform: scaleX(-1);
                margin-right: -70px;
            }
            > h1{
            font-size: 60px;
            background-color: black;
            color: white;
            display: flex;
            align-items: center;
            text-align: end;
            padding: 0 20px;
            width: 300px;
            }
        }

    }
    > div > p{
            padding: 20px;
            font-size: 20px;
            border-radius: 5px;
            color: white;
            text-align: justify;
            letter-spacing: 0.5px;
            line-height: 25px;
            height: fit-content;
        }
}

/* skills section styling */
.skills{
    color: white;  
    background-image: url(./landingPageImages/two.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    padding: 20px 30px;
}

.skills h1{
    color: var(--skyblue);
    font-size: 70px;
    margin-left: 50px;
}

.skills h2{
    font-size: 35px;
}

.skillsCard{
    display: flex;
    gap: 20px;
    justify-content: center;
}

.skillsCard div{
    background-color: var(--darkblue);
    padding: 20px;
    border-radius: 15px;
    text-align: center;
}

.skills img{
    width: 50px;
    margin-right: 10px;
}

/* work section styling */
.work{
    color: white;
    display: flex;
    flex-direction: column;
    gap: 50px;
    padding: 0px 50px;
}

.projects div{
    display: flex;
    gap: 50px;
    align-items: center;


    > img{
        background-color: white;
    }
}

.portfolio{
    display: flex;
    gap: 50px;
}

.portfolio h1{
    font-size: 50px;
    text-align: center;
}

.portfolio p{
    text-align: justify;
    display: flex;
    align-items: center;
    padding: 0px 50px;
    height: calc(100% - 20%);
}

/* contact section styling */
.contact{
    background-color: var(--skyblue);
    padding: 30px;
    color: white;
    font-family: redhat;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.contact h1{
    font-size: 50px;
    color: var(--darkblue);
}

.contact a{
    text-decoration: none;
    color: var(--darkblue);
    font-weight: 800;
    letter-spacing: 1px;
    font-size: 16px;
}

.contact img{
    width: 35px;
    margin-right: 20px ;
}

@media (max-width:700px) {
    .container {
        width: 100%;
    }
    .nav ul{
        display: none;
    }
    .nav h2{
        font-size: 15px;
        font-weight: 500;
    }
    .nav img{
        width: 40px;
        height: 40px;
    }

    .hero{
        gap: 0;
        min-height: 100dvh;
    }

    .hero .heroHead{
        align-items: center;
    }
    .hero .heroHead h1{
        font-size: 22px;
        line-height: 35px;
        letter-spacing: 5px;
        text-align: center;
    }
    .hero .heroHead p{
        font-size: 14px;
    }
    .aboutMe{
        padding: 0;
    }
    .aboutMe .bio, .journey{
        flex-direction: column;
        > div > h1{
            order: 1;
            font-size: 25px;
            text-align: center;
        }
        > p{
            order: 2;
            font-size: 15px;
            line-height: 20px;
            letter-spacing: 0;
        }
    }
    .aboutMe img {
        display: none;
    }
    .skills h1{
        text-align: center;
        margin: 0;
        font-size: 35px;
    }
    .skillsCard{
        flex-direction: column;
        > div {
            > h2{
                font-size: 25px;
            }
            > div > img{
                width: 40px;
            }
        }
    }
    .work{
        padding: 0 20px;
    }
    .work .projects div{
        flex-direction: column;
        gap: 10px;
        > img {
            order: 1;
            width: 80%;
            height: 80%;
            margin-top: 40px;
        }
        > p{
            order: 2;
            text-align: justify;
            width: 80%;
        }
    }
    .work .portfolio{
        flex-direction: column;
        gap: 10px;
        align-items: center;
        > img{
            order: 1;
            height: 100%;
            width: 40%;
            clip-path: circle(50%);
        }
        > div{
            order: 2;
            text-align: center;
            padding: 0;
            display: flex;
            flex-direction: column;
            gap: 10px;
            > h1{
                display: inline;
                order: 2;
                font-size: 30px;
                order: 1;
            }
            > p{
                padding: 0;
                order: 2;
            }
        }        
    }
    .contact {
        padding: 10px ;
        margin: 0;
    }
    .contact h1{
        font-size: 20px;
    }

    .contact a{
        font-size: 12px;
    }

    .contact .socialLinks {
        margin: 0;
        padding: 0;

        > a > img{
            margin: 0;
            width: 20px;
        }
    }
}

@media (min-width:700px) and (max-width:900px){
    .nav ul li{
        display: none;
    }
    .aboutMe .bio, .journey{

        > p{
            font-size: 15px;
            line-height: 20px;
            letter-spacing: 0;
        }
    }
    .skills h1{
        text-align: center;

    }
    .skills div{
        flex-direction: column;
    }
    .skills h1{
        text-align: center;
        margin: 0;
        font-size: 35px;
    }
    .skillsCard{
        flex-direction: column;
        align-items: center;
        > div {
            width: 80%;
            > h2{
                font-size: 25px;
            }

            > div > img{
                width: 40px;
            }
        }


    }
    .projects div{
        flex-direction: column;
        gap: 10px;

        > img{
            order: 1;
            margin-top: 30px;
            width: 80%;
            height: 80%;
        }
        > p{
            order: 2;
            width: 80%;
        }
    }
    .work .portfolio{
        flex-direction: column;
        gap: 10px;
        align-items: center;
        > img{
            order: 1;
            height: 100%;
            width: 40%;
            clip-path: circle(50%);
        }
        > div{
            order: 2;
            text-align: center;
            padding: 0;
            display: flex;
            flex-direction: column;
            gap: 10px;
            > h1{
                display: inline;
                order: 2;
                font-size: 30px;
                order: 1;
            }
            > p{
                padding: 0;
                order: 2;
            }
        }

        
    }
}

@media (min-width:700px) and (max-width:1450px){
    .aboutMe img{
        display: none;
    }
    .hero h1{
        font-size: calc(100% + 100%);
    }
    .work img{
        width: 50%;
        height: 50%;
        margin-top: 20px;
    }
    .work .portfolio img{
        width: 20%;
        clip-path: circle(50%);
    }
}